.btn-trans {
  background-color: transparent;
  outline: none;
  border: none;
}

.btn-1 {
  height: 45px;
  border: 2px solid #262626;
  background-color: #121212;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1px;
}

.link-trans {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
.link-underline {
  text-decoration: underline;
}