@import "typography";
@import "buttons";

@import "index";
@import "forms";

body {
  display: block !important;
  background-color: #fefefe;
}


a:link,
a:focus,
a:active,
a:visited {
  color: #333;
  text-decoration: none;
}
p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}